
body{  
    background-color: #00223E; /* appear this color when the browser is not supporting gradient */
    background-image: linear-gradient(to bottom right, #000000 , #001525); 
    height: 100%;  
    margin: 0;  
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 500px;/*viewpoint*/
} 

h4{
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #f7f7f7;
    font-size: 15px;
    text-align: center;
    top: 160px;
}

/*welcome text*/
h1{
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  background: -webkit-linear-gradient(#00B4DB, rgb(0, 75, 202));

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  text-align: center;
  top: 100px;
  }

/*home logo/button*/
.homeicon{
  position: absolute;
  font-size: 25px;
  color: #f7f7f7;
  left: 90px;
  top: 55px;
  }
  
  h3:hover {
  color: #006fca;
  font-weight: 400;
  }
  
  h3{
  font-family: 'Gantari', sans-serif;
  font-weight: 100;
  color: #f7f7f7;
  font-size: 15px;
  position: absolute;
  left: 110px;
  top: 45px;
  padding-left: 12px;
  cursor: pointer;
  }


/* planets*/
/*/////earth/////*/
/*let the circle move up and down*/
.earth{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 20px 20px 80px 20px #00223E inset, 0 0 25px 10px #051a4f;
    animation: jump 5s ease-in-out infinite;
}

            
/*let the image inside the circle move paralleled*/
  .earth > div {
    width: 200%;
    height: 100%;
    box-shadow: 0 0 20px 20px #000000 inset, 10px 10px 25px 20px #006fca;/* inner shadow, outer shadow, (x,y,blur,blur range)*/
    background-size: cover;
    animation: spin 30s linear alternate infinite;
  }


  @keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }

@keyframes jump {
    0%, 100% {
        top: 10px;
    }
    50% {
        top: 20%;
    }
}


/*/////mars/////*/
.mars{
    width: 85px;
    height: 85px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 20px 20px 80px 20px #915000 inset, 0 0 50px 10px #6f4706;
    animation: jump 3s ease-in-out infinite;
}
            

  .mars > div {
    width: 200%;
    height: 100%;
    box-shadow: 0 0 20px 20px #000000 inset, 10px 10px 50px 10px #7c5618;
    background-size: cover;
    animation: spin 30s linear alternate infinite;
  }

@keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }

@keyframes jump {
    0%, 100% {
        top: 10px;
    }
    50% {
        top: 20%;
    }
}




.jupiter{
    width: 250px;
    height: 250px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 60px 20px #00223E inset, 0 0 100px 40px #4f2f05;
    animation: jump 5s ease-in-out infinite;
}
            
/*let the image inside the circle move paralleled*/
  .jupiter > div {
    width: 200%;
    height: 100%;
    box-shadow: 0 0 60px 50px black  inset, 10px 10px 80px 90px #a18d5a;/* inner shadow, outer shadow, (x,y,blur,blur range)*/
    background-size: cover;
    animation: spin 10s linear alternate infinite;
  }


  @keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }

@keyframes jump {
    0%, 100% {
        top: 10px;
    }
    50% {
        top: 20%;
    }
}



.saturn{
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: -30px -30px 80px 20px #00223E inset, 0 0 80px 20px #5c4f3d;
    animation: jump 5s ease-in-out infinite;
}
          
/*let the image inside the circle move paralleled*/
  .saturn > div {
    width: 200%;
    height: 100%;
    box-shadow: 0 0 70px 40px black  inset, 10px 10px 80px 90px #908568;/* inner shadow, outer shadow, (x,y,blur,blur range)*/
    background-size: cover;
    animation: spin 10s linear alternate infinite;
  }


  @keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }

@keyframes jump {
    0%, 100% {
        top: 10px;
    }
    50% {
        top: 20%;
}
}



/*uranus */
.uranus{
  width: 150px;
  height: 150px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 15px 10px #00223E inset, 0 0 45px 10px #144652;
  animation: jump 2s ease-in-out infinite;
}
        
/*let the image inside the circle move paralleled*/
.uranus > div {
  width: 200%;
  height: 100%;
  box-shadow: 0 0 40px 40px black  inset, 10px 10px 80px 90px #688690;/* inner shadow, outer shadow, (x,y,blur,blur range)*/
  background-size: cover;
  animation: spin 20s linear alternate infinite;
}


@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}

@keyframes jump {
  0%, 100% {
      top: 10px;
  }
  50% {
      top: 20%;
}
}



/* neptune*/
/* */
.neptune{
  width: 180px;
  height: 180px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 15px 10px #00223E inset, 0 0 80px 20px #3d465c;
  animation: jump 4s ease-in-out infinite;
}
        
/*let the image inside the circle move paralleled*/
.neptune > div {
  width: 200%;
  height: 100%;
  box-shadow: 0 0 50px 40px #000000 inset, 10px 10px 25px 20px #006fca;/* inner shadow, outer shadow, (x,y,blur,blur range)*/
  background-size: cover;
  animation: spin 10s linear alternate infinite;
}


.mercury{
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 30px 10px #835800 inset, 0 0 25px 10px #4a3300;
  animation: jump 5s ease-in-out infinite;
}
          
/*let the image inside the circle move paralleled*/
.mercury > div {
  width: 200%;
  height: 100%;
  box-shadow: 0 0 10px 10px #000000 inset, 10px 10px 25px 20px #644f1e;/* inner shadow, outer shadow, (x,y,blur,blur range)*/
  background-size: cover;
  animation: spin 10s linear alternate infinite;
}


@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}

@keyframes jump {
  0%, 100% {
      top: 10px;
  }
  50% {
      top: 20%;
  }
}


.venus{
  width: 130px;
  height: 130px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 50px 30px #835800 inset, 0 0 60px 10px #4a3300;
  border-radius: 50%;
  animation: jump 3s ease-in-out infinite;
}
          
/*let the image inside the circle move paralleled*/
.venus > div {
  width: 200%;
  height: 100%;
  box-shadow: 0 0 20px 20px #000000 inset, 10px 10px 25px 20px #643c1e;/* inner shadow, outer shadow, (x,y,blur,blur range)*/
  background-size: cover;
  animation: spin 10s linear alternate infinite;
}


@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}

@keyframes jump {
  0%, 100% {
      top: 10px;
  }
  50% {
      top: 20%;
  }
}


section {
    position: relative;
    width: 300px;
    height: 300px;
    /*set the cursor to a hand when the mouse is on the image*/
    cursor: pointer;
    transform-style: preserve-3d;
    animation: rotate 40s linear infinite; /*set the rotating speed to 40s*/
}




section:hover{
    animation-play-state: paused;/*pause rotating when the mouse is on the image*/
}


section div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100;

   /*make a drop reflection for each image, 
   it'll be placed 90px below the main image*/
    -webkit-box-reflect: below 90px 
    -webkit-linear-gradient(transparent 50%, rgba(255, 255, 255, 0.3));/*set reflection opacity*/
}


/*set all images rotate 45 degress to the y-axis */
/*move all the images 300px away from the original x-axis to form a circular ring*/
section div:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

section div:nth-child(2) {
    transform: rotateY(45deg) translateZ(300px);

}

section div:nth-child(3) {
    transform: rotateY(90deg) translateZ(300px);
}

section div:nth-child(4) {
    transform: rotateY(135deg) translateZ(300px);
}

section div:nth-child(5) {
    transform: rotateY(180deg) translateZ(300px);
}

section div:nth-child(6) {
    transform: rotateY(225deg) translateZ(300px);
}

section div:nth-child(7) {
    transform: rotateY(270deg) translateZ(300px);
}

section div:nth-child(8) {
    transform: rotateY(315deg) translateZ(300px);
}

/*define the animation*/
@keyframes rotate{
    0%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(360deg);
    }
}
