{% block title %}The Eight Planets - Earth{% endblock %}

<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <title>The Eight Planets</title>
    <meta name="description" content="This is an online web app that allows people to learn about the 8 Planets of the Solar System" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='pages.css') }}" >

      <!--import google fonts-->
      <link rel="preconnect" href="https://fonts.googleapis.com"> 
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
      <link href="https://fonts.googleapis.com/css2?family=Gantari:wght@100&family=Roboto:wght@100;300;400;700&family=Rubik+Dirt&display=swap" rel="stylesheet">
      
      <!--import icon library from flaticon-->
      <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  
  
    </head>
    {% block content %}
  <body>
   
    <section> 
      <!--earth animation-->
        <div class="earth">
            <div></div>
        </div>
    </section>  
    
    <!--website name-->
    <a href="{{ url_for('index') }}" class="home"><h3>The <b>8 Planets</b></h3></a>
       
    <!--grid-->
    <div class="wrapper">
      <div class="g1">
        <h1>EARTH</h1>
      </div>
      
      <div class="g2">
        <h2> About Earth</h2>
        <p>Earth—our home planet—is the only place
           we know of so far that’s inhabited by living
           things.</p>
        <p>While Earth is only the fifth largest planet in the solar system, it is the only world in our solar system with liquid water on the surface. Just slightly larger than nearby Venus, Earth is the biggest of the four planets closest to the Sun, all of which are made of rock and metal.</p> 
        <p>All of the planets, except for Earth, were named after Greek and Roman gods and goddesses. However, the name Earth is a Germanic word, which simply means “the ground.”</p>
        <a href="https://solarsystem.nasa.gov/planets/earth/overview/"><p>Learn more ⌲</p></a>
      </div>
     
      
        <div class="g3">
          <h2>Basic Statistics </h2>
          
          
          <table>
            <h5>Length of Year on Earth</h5>

            {% for col in items %}
            <tr>
              <td><p class="p1">{{ col['rotatetime'] }}</p></td>
            </tr>
            {% endfor %}
            </table>

            
            <div class="gap">
              <table>
                <h5>Length of Day on Earth</h5>
                {% for col in items %}
                <tr>
                  <td><p class="p1">{{ col['daylength'] }}</p></td>
                </tr>
                {% endfor %}
                </table>
            
              
              <table>
                <h5>Discovered Year</h5>
                {% for col in items %}
                <tr>
                  <td><p class="p1">{{ col['discoveredtime'] }}</p></td>
                </tr>
                {% endfor %}
                </table>

      
                <table>
                  <h5>Distance From Sun (km)</h5>
                  {% for col in items %}
                  <tr>
                    <td><p class="p1">{{ col['distance'] }}</p></td>
                  </tr>
                  {% endfor %}
                  </table>
      

          <table>
          <h5>Diameter (km)</h5>
          {% for col in items %}
          <tr>
            <td><p class="p1">{{ col['diameter'] }}</p></td>
          </tr>
          {% endfor %}
          </table>

          
         
        </div><!--end of gap-->
        </div><!--end of g3-->
      
        

        <div class="g4">
          <h2>Facts</h2>
          <ul class="bulletpoint">
           <li><p>Earth’s atmosphere protects us from meteoroids and radiation from the Sun.</p></li>
           <li><p>The Earth is the densest planet in the Solar System.</p></li>
           <li><p> 70% of our planet is covered with oceans. The remaining 30% is the solid ground, rising above sea level.</p></li>
          </ul>
        </div>


        <div class="rect"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>

    </div>



    <!--home logo-->
    <div class="homeicon">
      <i class="fi fi-ss-world"></i>
    </div>

    <!--buttons-->
    <div class="iconright">
      <i class="fi fi-ss-angle-right"></i>
    </div>
    <a href="{{ url_for('mercury') }}" class="buttonright"></a>

    <div class="iconleft">
      <i class="fi fi-ss-angle-left"></i>
    </div>
    <a href="{{ url_for('neptune') }}" class="buttonleft"></a>

<h4>P a p a t ū ā n u k u</h4>

  </body>

</html>

{% endblock %}