{% block title %}The Eight Planets - Uranus{% endblock %}

<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <title>The Eight Planets - Uranus</title>
    <meta name="description" content="This is an online web app that allows people to learn about the 8 Planets of the Solar System" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='pages.css') }}" >

      <!--import google fonts-->
      <link rel="preconnect" href="https://fonts.googleapis.com"> 
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
      <link href="https://fonts.googleapis.com/css2?family=Gantari:wght@100&family=Roboto:wght@100;300;400;700&family=Rubik+Dirt&display=swap" rel="stylesheet">
      
      <!--import icon library from flaticon-->
      <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  
  
    </head>
    {% block content %}

  <body>
   
    <section> 
      <!--earth animation-->
        <div class="uranus">
            <div></div>
        </div>
    </section>  
    
    <!--website name-->
    <a href="{{ url_for('index') }}" class="home"><h3>The <b>8 Planets</b></h3></a>
       
    <!--grid-->
    <div class="wrapper">
      <div class="g1">
        <h1 style="background: -webkit-linear-gradient(#1c9ca8, #d1ecf6);
                   -webkit-background-clip: text;
                   -webkit-text-fill-color: transparent;">Uranus</h1>
      </div>
      
      <div class="g2">
        <h2 style="color:#1c9ca8"> About Uranus</h2>
        <p>Uranus is the seventh planet from the Sun, and has the third-largest diameter in our solar system. It was the first planet found with the aid of a telescope, Uranus was discovered in 1781 by astronomer William Herschel, although he originally thought it was either a comet or a star.</p>
        <a href="https://solarsystem.nasa.gov/planets/uranus/overview/"><p>Learn more ⌲</p></a>
      </div>
     
      
        <div class="g3">
          <h2 style="color:#1c9ca8">Basic Statistics </h2>
          
          
          <table>
            <h5 style="color:#1c9ca8">Length of Year on Uranus</h5>

            {% for col in items %}
            <tr>
              <td><p class="p1">{{ col['rotatetime'] }}</p></td>
            </tr>
            {% endfor %}
            </table>

            
            <div class="gap">
              <table>
                <h5 style="color:#1c9ca8">Length of Day on Uranus</h5>
                {% for col in items %}
                <tr>
                  <td><p class="p1">{{ col['daylength'] }}</p></td>
                </tr>
                {% endfor %}
                </table>
            
              
              <table>
                <h5 style="color:#1c9ca8">Discovered Year</h5>
                {% for col in items %}
                <tr>
                  <td><p class="p1">{{ col['discoveredtime'] }}</p></td>
                </tr>
                {% endfor %}
                </table>

      
                <table>
                  <h5 style="color:#1c9ca8">Distance From Sun (km)</h5>
                  {% for col in items %}
                  <tr>
                    <td><p class="p1">{{ col['distance'] }}</p></td>
                  </tr>
                  {% endfor %}
                  </table>
      

          <table>
          <h5 style="color:#1c9ca8">Diameter (km)</h5>
          {% for col in items %}
          <tr>
            <td><p class="p1">{{ col['diameter'] }}</p></td>
          </tr>
          {% endfor %}
          </table>

          
         
        </div><!--end of gap-->
        </div><!--end of g3-->
      
        

        <div class="g4">
          <h2 style="color:#1c9ca8">Facts</h2>
          <ul class="bulletpoint">
           <li><p>Uranus is about four times wider than Earth. If Earth were a large apple, Uranus would be the size of a basketball.</p></li>
           <li><p>Uranus has 27 known moons, and they are named after characters from the works of William Shakespeare and Alexander Pope.</p></li>
           <li><p>Uranus is an ice giant. Most of its mass is a hot, dense fluid of "icy" materials – water, methane and ammonia – above a small rocky core.</p></li>
          </ul>
        </div>


        <div class="rect"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>

    </div>



    <!--home logo-->
    <div class="homeicon">
      <i class="fi fi-ss-world"></i>
    </div>

    <!--buttons-->
    <div class="iconright">
      <i class="fi fi-ss-angle-right"></i>
    </div>
    <a href="{{ url_for('neptune') }}" class="buttonright"></a>

    <div class="iconleft">
      <i class="fi fi-ss-angle-left"></i>
    </div>
    <a href="{{ url_for('saturn') }}" class="buttonleft"></a>

<h4>R a k i p ō</h4>

  </body>

</html>

{% endblock %}